.s-course{
    padding: 80px 0;
    h2{
        font-size: 3.6rem;
        color: $gray-dark;
    }
    h4{
        font-size: 2rem;
        font-weight: bold;
        color: $yellow;
        margin-top: $gutter*5;
        margin-bottom: $gutter;
    }
    ul{
        font-size: 1.4rem;
        li{
            margin: $gutter;
            color: $gray;
        }
        
    }
    span{
        color: $yellow;
    }
    p{
        font-size: 1.6rem;
        color: $gray;
        margin-top: $gutter*3;
        line-height:20px;
    }
    .s-course__row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-course__col{
        width: 48%;
    }
    .s-course__learn{
        display: flex;
    
        img{
            width: 150px;
            margin-top: $gutter;
            margin-right: $gutter;
        }
    }

}

@include responsive(800px){
    .s-course{
        text-align: center;
        h2{
            font-size: 3.2rem;
        }
        .s-course__row{
            flex-direction: column;
        }
        .s-course__col{
            width: 100%;
        }
        .s-course__learn{
            display: flex;
            justify-content: center;
        }
    }
}