$white: #fff;
$gray: #5F5C6B;
$gray-light:#F5F5F5;
$gray-200: #7A7786;
$gray-dark: #03496c;
$blue-dark:#012232;

$black:#303030;
$yellow: #FF7E70;
$yellow-light:#fef5e0;
$red: #F7685B;
$font-bold: bold;

$gutter: 10px;