//reset
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 10px;
}
img{
    max-width: 100%;
    display: block;
}

html{
   font-size: 62.5%; 
}

html,body{
    overflow-x: hidden;
}

button{
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 112.6rem;
    padding: 0 15px;
    margin: 0 auto;
}

@import '_mixins.scss';
@import '_variables.scss';
@import '_animations.scss';
@import '_header.scss';
@import '_s-hero.scss';
@import '_s-brand.scss';
@import '_buttons.scss';
@import '_s-resources.scss';
@import '_s-course.scss';
@import '_s-binance.scss';
@import '_s-faq';
@import '_footer';